.header {
  display: none;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  transition: 0.5s ease-in-out;
  position: relative;
  border: 1px solid white;
}

.menu a {
  color: var(--primary);
}

.hamburger {
  width: 70%;
  height: 3px;
  background: var(--primary);
  transition: 0.25s ease-in-out;
  border-radius: 10px;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  background: var(--primary);
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}

.hamburger::before {
  transform: translateY(-10px);
}

.hamburger::after {
  transform: translateY(10px);
}

li::marker {
  content: "";
}

/* Button Animation */

.open .hamburger {
  background-color: transparent;
}

.open .hamburger::before {
  transform: rotate(-45deg);
}

.open .hamburger::after {
  transform: rotate(45deg);
}

/* Menu */

.menu {
  opacity: 0;
  transition: 0.3s;
  transform: translateX(-100px);
  pointer-events: none;
}

.menu-open {
  opacity: 1;
  transition: 0.3s;
  transform: translateX(50px);
  pointer-events: all;
}

/* --------------------------- media query tablet --------------------------- */
@media only screen and (min-width: 768px) {
}

/* --------------------------- media query large --------------------------- */
@media only screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
  }

  .nav {
    background-color: var(--primary);
  }

  .menu {
    opacity: 1;
    transform: translateX(0px);
    /*new styles:*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu-btn {
    display: none;
  }

  .menu a {
    color: var(--white);
  }
}
