* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: sofachrome, sans-serif;
  font-weight: 300;
  font-style: italic;
}

h2.heading {
  margin-bottom: 3rem;
}

.body {
  display: flex;
  flex-direction: column;
  font-family: montserrat, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: var(--white);
}

.main {
  /*OVERFLOW SCEROLL HERE
  overflow: scroll;*/
  padding: 5rem 2rem 0 2rem;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}

.portfolio,
.about,
.contact {
  margin-bottom: 5rem;
}

/* Hero Section */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.logo {
  display: none;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.hero-text h2 {
  font-size: 1.2rem;
  color: var(--secondary);
  margin-bottom: 1rem;
}

/* Portfolio Section */

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  align-items: center;
  width: 100%;
}

h2 span {
  display: inline-block;
  height: 2px;
  width: 100%;
  flex: 1 1;
  background-color: var(--white);
  margin-left: 4rem;
}

.portfolio-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.card-cta {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-cta a {
  width: 48%;
  border: none;
  border-radius: 3px;
  padding: 1rem 0;
  color: var(--white);
  font-weight: 600;
  font-style: normal;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 2rem 0;
  cursor: pointer;
}

.demo {
  background-color: var(--primary);
}

.github {
  background-color: var(--secondary);
}

.fa-arrow-up-right-from-square {
  font-size: 3rem;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-text h3 {
  font-size: 1.5rem;
}

.card-technologies {
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0;
  flex-wrap: wrap;
}

span.category {
  padding: 0.35rem 1.2rem;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  font-size: 0.5rem;
  font-weight: 800;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}

/* About Section */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions-answers {
  display: flex;
  flex-direction: column;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.4rem;
}

.question-container h3,
.question-container p {
  margin-bottom: 0.5rem;
}

/* Contact Section */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.contact-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
  border-top: 2px solid var(--primary);
}

a .contact-detail i {
  color: var(--secondary);
  font-size: 2rem;
  margin-right: 1rem;
}

a .contact-detail p {
  color: var(--white);
  font-size: 0.8rem;
}

/* ----------------------------- images --------------------------------- */
img {
  width: 100%;
}

.img-portfolio {
  width: 70%;
  margin-bottom: 1.5rem;
  border-radius: 50%;
  filter: sepia(60%);
}

iframe {
  width: 100%;
  margin-top: 2rem;
}

/* --------------------------- MEDIA QUERY 500 --------------------------- */
@media only screen and (min-width: 500px) {
  .img-portfolio {
    width: 40%;
  }

  /* UWAGA TUTAJ: */
  .hero {
    margin-bottom: 8rem;
  }
}

/* --------------------------- MEDIA QUERY 768 --------------------------- */
@media only screen and (min-width: 768px) {
  /* ------------- images ----------------- */
  img {
    width: 100%;
  }

  .img-portfolio {
    width: 30%;
  }

  iframe {
    width: 100%;
  }
}

/* --------------------------- MEDIA QUERY 1024 --------------------------- */
@media only screen and (min-width: 1024px) {
  .header {
    grid-area: header;
  }

  .nav {
    grid-area: nav;
  }

  .main {
    grid-area: main;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .footer {
    grid-area: footer;
  }

  .body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "nav header header header header"
      "nav main main main main"
      "nav footer footer footer footer";
  }

  /* Hero Section */

  .hero {
    margin-bottom: 15rem;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
  }

  .img-portfolio {
    order: 2;
  }

  .hero-text {
    order: 1;
  }

  .hero-text p {
    max-width: 80%;
  }

  /* Portfolio Section */

  .portfolio-cards {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .card {
    max-width: 30%;
  }

  .card-cta a {
    font-size: 0.7rem;
  }
}
