h1 {
  font-size: 1.5rem;
}

.message {
  border: 1px solid grey;
  color: grey;
  margin-top: 1rem;
  padding: 3rem;
}

.message.error {
  border-color: red;
  color: red;
}

.message.success {
  border-color: green;
  color: green;
  background: var(--beige);
}

a {
  text-decoration: none;
}

.cta-button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 3rem;
  background: var(--secondary);
  color: var(--primary);
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 2rem 0;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .cta-button {
    /* 1. styling for color change: */
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    /* 2. styling for position change: */
    animation-duration: 0.2s;
    transform-origin: bottom;
  }

  .cta-button:hover {
    /* 1. the new color for color change */
    background-color: #fae3ae;
    /* 2. styling for position change: */
    animation-name: move;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  @keyframes move {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
}
